/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 16px;
    line-height: 1.4;
    position:relative;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img { vertical-align: middle; }

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea { resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

  a:link, a:visited { color:#0067B1; text-decoration:none; outline: 0; }
  a:hover, a:active { color:#000; outline: 0; }
  a:focus { outline: 0; }


h1,h2,h3,h4,h5,h6{ margin:0;}

ul{ margin-top:0; margin-bottom: 25px;}

input[type=radio], input[type=checkbox]{
    margin-right:5px;
    margin-left:5px;
}

/* Button Styles -- General Usage */

a.button:link, a.button:visited, a.button:hover, a.button:active { color:#fff; }

.button{
    display:inline-block;
    padding:7px 22px;
    border:none;
    font-weight:bold;
    cursor:pointer;
    color:#fff;
    margin:0 2px;
    white-space: nowrap;
}

.button{
    background: @action_color;
}

.button:hover{  background: @action_hover_color;}

.btn-loading {
    background-color: #eee;
    border: 1px solid #408DC4;
    cursor: default;
}
.btn-loading:hover {
    background-color: #eee;
}

.flex-outer-width {
    width:1024px;
    margin:0 auto;
    position:relative;
    @media (max-width: 1024px) {
        width: 95%;
    }
}

/* Custom form Styles */

.form-dataentry input[type=text], .form-dataentry input[type=password], .form-dataentry input[type=email], .form-dataentry select {
    border: 1px solid #BBBBBB;
    min-height: 32px;
    line-height: 32px;
    padding: 0 0 0 5px;
    width: 100%;
}
.form-dataentry textarea {
    width: 100%;
    padding: 10px;
}

.form-dataentry input[type=text].error, .form-dataentry input[type=password].error, .form-dataentry input[type=email].error, .form-dataentry select.error {
    border: 1px solid #BBBBBB;
    border-bottom:5px solid #fcc;
}

.data-btn {
    height: 32px;
    vertical-align: middle;
}

body .select2-container.error .select2-choice {
    border: 1px solid #BBBBBB;
    border-bottom:5px solid #fcc;
}

/* Flexible Message Styles */

#container{
    position:relative;
    min-height:100px;
}

.login-link {
    position: relative;
    z-index: 1000;
}

.login-panel-wrapper{
    background: url(../images/bg_login_panel.png) repeat #d1e4f1;
    border-bottom:#CFCFCF 3px solid;
    display:none;
    font-size: 0.9em;
    overflow:hidden;
}

.login-panel-watermark{
    background: url(../images/bg_login_panel_watermark.png) no-repeat;
    width:393px;
    height:397px;
    position:absolute;
    top:-80px;
    left:0px;
}

.login-panel{
    padding-bottom:12px;
    padding-top:20px;
    overflow:hidden;
    @media(max-width: @screen-xs-max){
        padding-left: 30px;
        padding-right: 30px;
    }
}

.login-panel-item {
    width: 230px;
    @media(max-width: @screen-xs-max){
        width: 100%;
        padding: 0;
        float: none;
        margin-top: 10px;
    }
}

.login-panel-menu{
    position:absolute;
    top: 18px;
    right: 250px;
    color: #a6a6a6;
    @media(max-width: 680px){
        left: 0;
        right: 0;
        text-align: center;
        top: 68px;
    }
}

.login-panel-show {
    color: #0082e3;
    font-size: 14px;
    margin-top: 5px;
    cursor:pointer;
    display: inline-block;
}


/* Header Styles -- General Styles */
.header-wrapper {
    background: 100% #fff;
    border-bottom: 5px solid #e2e5eb;
    min-height: 70px;
    width: 100%;
}

.header {
    display: block;
    margin: 0px auto;
    min-height: 70px;
    padding: 0px;
}

.header-logo-wrapper{
    position:absolute;
    top:0;
    left:0;
    padding: 13px 10px 10px 10px;
    @media(max-width: 680px){
        text-align: center;
        position: relative;
        width: 100%;
    }
}

.header-tagline {
    color: #b0bcdc;
    font-size: 16px;
    margin-top: 5px;
}

.header-border {
    border-top:2px solid #eeeeee;
    height:9px;
    margin-top:10px;
}

.header-links {
    float: right;
    line-height: 44px;
    margin: 25px 0 20px 0;
    @media(max-width: 960px){
        float: none;
        text-align: center;
        width: 100%;
    }
}


/* Header Actions (New Employer? New Jobseeker?) -- For Logged Out Users Only  */

.header-actions-wrapper {
    float: right;
    height: 70px;
    text-align: right;
    padding-top: 20px;
    @media(max-width: 680px){
        float: none;
        height: auto;
        padding: 35px 0 20px 0;
        text-align: center;
    }
}
.header-actions-wrapper .header-xs-hidden {
    @media(max-width: @screen-xs-max){ display: none; }
}

.header-action{
    clear:right;
    cursor:pointer;
}

.header-action {
    @media(max-width: 949px){ margin-right: 15px; }
    @media(max-width: 600px){ margin: 0; }
}

a.header-action:link, a.header-action:visited {
    color:#6a826b;
}




/* Content Styles -- General */


.content-page-header {
    padding: 15px 20px;
    background-color: @primary_color;
    color: #fff;
    font-size: 28px;
    @media(max-width: @screen-xs-max){ font-size: 22px; }
}
.content-page-subheader {
    display: block;
    font-size: 18px;
    margin-top: 6px;
    @media(max-width: @screen-xs-max){ font-size: 1em; }
}
.content-page-header h1 {
    color: #fff;
    font-size: 28px;
    font-weight: normal;
    @media(max-width: @screen-xs-max){ font-size: 22px; }
}

.content-title {
    color:#3084C0;
    font-weight:bold;
    margin-top:15px;
    font-size:1.4em;
}

.content-page-title {
    font-size: 24px;
    color: @action_color;
    margin-bottom: 5px;
}

.content-page-subtitle {
    font-size: 20px;
    margin-bottom: 5px;
    color: @primary_color;
}

.content-divide {
    border-bottom: 1px solid #c4c4c4;
    margin: 4px 0;
    width: 100%;
}

/* Searchbox Styling */

.search-form-input {
    //border:1px solid #777;
    height: 40px;
    line-height: 40px;
}


/* Landing pages */
.search-widget-base {
    background: url(../images/splash-home.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
    -webkit-box-shadow:inset 0 0 5px 5px rgba(0,0,0,0.3);
    box-shadow:inset 0 0 5px 5px rgba(0,0,0,0.3);
    @media(max-width: @screen-xs-max){ padding: 0; }
}
.search-widget-base.alternate {
    background: url(../images/splash-alt.jpg) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.search-widget-base.not-found {
    background: url(../images/splash-404.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
    -webkit-box-shadow:inset 0 0 5px 5px rgba(0,0,0,0.3);
    box-shadow:inset 0 0 5px 5px rgba(0,0,0,0.3);
    @media(max-width: @screen-xs-max){ padding: 0; }
}
.search-widget-title {
    color: #ffffff;
    font-family: 'Dancing Script', sans-serif;
    font-size: 60px;
    @media(max-width: @screen-xs-max){ font-size: 36px; }

    &.title-small {
        font-size: 45px;
        @media(max-width: @screen-xs-max){ font-size: 30px; }
    }
}
.search-widget-tagline { color: @action_highlight; }
.search-widget-content {
    padding: 40px 6% 0 6%;
    font-size: 18px;
    @media(max-width: @screen-xs-max){ padding: 20px 6% 0 6%; }
}

.flair-title {
    color: @primary_color;
    font-size: 30px;
    line-height: 100px;
    position: relative;
    z-index: 5;
    @media(max-width: @screen-xs-max){
        font-size: 20px;
        line-height: 50px;
    }
}
.flair-base {
    color: #dfe4e8;
    font-family: 'Dancing Script', sans-serif;
    font-size: 100px;
    line-height: 100px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    @media(max-width: @screen-xs-max){
        font-size: 60px;
        line-height: 50px;
    }
}
.flair-base.blue { color: #006bbc; }

.title-box {
    border: 3px solid #ffffff;
    display: inline-block;
    font-size: 60px;
    font-weight: bold;
    padding: 10px 35px;
}

.bkg-quotes {
    background: #005ca2 url(../images/splash-quote.jpg) no-repeat 0 center;
    background-size: 100%;
    @media(max-width: 1300px){ background-size: auto 100%;}
    @media(max-width: @screen-xs-max){ background-image: none; }
}
.bkg-callout {
    background: #005ca2 url(../images/splash-callout.jpg) no-repeat 0 center;
    background-size: 100%;
    @media(max-width: 1500px){ background-size: auto 100%; }
    @media(max-width: @screen-xs-max){ background-image: none; }
}
.bkg-jobseeker-callout {
    background: #005ca2 url(../images/splash-jobcallout.jpg) no-repeat 0 center;
    background-size: 100%;
    @media(max-width: 1400px){ background-size: auto 100%; }
    @media(max-width: @screen-xs-max){ background-image: none; }
}
.bkg-callout-user1 {
    position: absolute;
    top: 0;
    left: -160px;
    @media(max-width: 1400px){ display: none; }
}
.bkg-callout-user2 {
    position: absolute;
    top: 0;
    right: -160px;
    @media(max-width: 1400px){ display: none; }
}
.muted-title {
    border-bottom: 1px solid #dfdfdf;
    color: #616161;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 15px;
    width: 100%;
}
.form-base.employer {
    background: url(../images/splash-employer.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 5px solid @primary_color;
    min-height: 600px;
    @media(max-width:@screen-xs-max){ min-height: 840px; }
}
.form-base.bctia {
    background: url(../images/bctia-members.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 5px solid @primary_color;
    min-height: 600px;
    @media(max-width:@screen-xs-max){ min-height: 840px; }
}
.form-base.jobseeker {
    background: url(../images/splash-jobseeker.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 5px solid @primary_color;
    min-height: 670px;
    @media(max-width:@screen-xs-max){ min-height: 800px; }
}
.form-jobseeker-text {
    margin-top: 150px;
    @media(max-width:@screen-xs-max){ margin-top: 0; }
}
.signup-form {
    background: @primary_color;
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 100;
    @media(max-width:@screen-xs-max){ top: 160px; }
}
.signup-form.employer {
    @media(max-width:@screen-xs-max){ top: 270px; }
}
.signup-form.bctia {
    @media(max-width:@screen-xs-max){ top: 450px; }
    @media(max-width:425px){ top: 530px; }
}

.top-anchor {
    position: absolute;
    right: 0;
    top: 5px;
    @media(max-width: 400px){
        display: block;
        margin-top: 15px;
        position: relative;
        text-align: center;
        width: 100%;
    }
}
.bctia-plans {
    @media(max-width:@screen-xs-max){ padding-top: 180px; }
    @media(max-width:425px){ padding-top: 260px; }
}
.employ-plans, .employ-resume, .employ-feature, .employ-lmia {
    border-bottom: 1px solid @primary_color;
}
.employ-plans {
    background: #ffffff url(../images/employ-plans.jpg) no-repeat bottom center;
    background-size: 100%;
}
.employ-resume {
    background: #ffffff url(../images/employ-resume.jpg) no-repeat bottom center;
    background-size: 100%;
}
.employ-feature {
    background: #ffffff url(../images/employ-featured.jpg) no-repeat bottom center;
    background-size: 100%;
}
.employ-lmia {
    background: #ffffff url(../images/employ-lmia.jpg) no-repeat bottom center;
    background-size: 100%;
}
.featured-base {
    padding: 60px 0 240px 0;
    z-index: 1;
    @media(max-width:@screen-xs-max){ padding-bottom: 140px; }
}
.featured-top { z-index: 5; }
.featured-pencils {
    position: absolute;
    bottom: 0;
}
.featured-pencils img { max-width: 100%; }

.hire-me-image {
    float: left;
    width: 50%;
    @media(max-width: 1030px){ display: none; }
}
.hire-me-callout {
    float: left;
    padding: 50px 0;
    text-align: center;
    width: 50%;
    @media(max-width: 1030px){
        padding: 30px;
        width: 100%;
    }
}

/* Homepage Search Widget */

.search-widget-wrapper {
    background: @primary_color;
    color: #ffffff;
}
.search-widget-header {
    background: #005da3 url(../images/banner_searchbox.jpg) 0 0 no-repeat;
    height: 75px;
    line-height: 75px;
    border-bottom: 1px solid #007cb8;
    font-size: 28px;
    text-align: center;
    text-shadow: 0 1px 1px #00468c;
    @media(max-width:600px){ font-size: 18px; }
}

.search-widget-fields {
    padding: 0 5px;
    vertical-align: bottom;
}
.search-widget-fields input, .search-widget-fields  .select2-container .select2-choice {
    color: #999999;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    margin: 0;
}
.search-widget-submit {
    font-size: 16px;
    height: 38px;
    margin-top: 30px;
    @media(max-width: @screen-xs-max){
        margin-top: 10px;
    }
}




/* --------------------- */
/*   DASHBOARD STYLES    */
/* --------------------- */

.user-dashboard {
  background: #f3f3f3;
  width: 10%;
  @media(max-width:970px) { width: 12%; }
}
.user-dashboard-item {
  background-color: #f3f3f3;
  border-right: 2px solid #eeeeee;
  cursor: pointer;
  height: 100px;
  width: 100%;
  z-index: 1000;

  &.active {
    background-color: #dfdfdf;
    border-right: 2px solid #cdcdcd;
  }

  &:hover { background-color: #e9e9e9; }

  &:active { background-color: #dfdfdf; }
}
.user-dashboard-item a {
  width: 100%;
  height: 100%;
  display: block;
}

.user-dashboard-item img {
  max-width: 45px;
  max-height: 40px;
  margin: 20px auto 8px;
}
.user-dashboard-item-text {
  font-size: 11px;
  color: #5d5d5d;
  text-align: center;
}



.user-content {
    width: 90%;
    @media(max-width:970px) { width: 88%; }
    @media(max-width:@screen-xs-max) { width: 100%; }
}

/* Dashboard Homepage Callouts */

.user-dash-item {
    background: #f1f1f1;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1f1f1));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );
    border: 2px solid #eeeeee;
    height: 180px;
    padding: 0;
    position: relative;
    text-align: center;
    width: 96%;
    margin: 0 2%;
}
.user-dash-icon {
    padding: 20px 0;
    max-height: 150px;
    max-width: 150px;
}
.user-dash-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.user-dash-item a {
    display: block;
    height: 100%;
    width: 100%;
}

/* --------------------- */
/* EMPLOYER internal -- logged-in STYLES */
/* --------------------- */

/* On the Employer dashboard, the user's credit data is shown */

.purchase-widget {
    background: none;
    padding: 15px 0 0 15px;
    overflow:hidden;
    font-size: 12px;
    color: #fff;
    font-weight: normal;
    @media(max-width: @screen-xs-max){
        padding: 10px 0 0 0;
    }
}
.purchase-widget a {
    color: #fff;
}


/* JSONsuggest styling */

    .jsonsuggest_menu { /*ui-menu*/
        list-style: none;
        padding: 2px;
        margin: 0;
        display: block;
        float: left;
    }

    .jsonsuggest_menu .jsonsuggest_menu_item { /*ui-menu-item*/
        margin: 0;
        padding: 0;
        zoom: 1;
        float: left;
        clear: left;
        width: 100%;
    }

    .jsonsuggest_menu .jsonsuggest_menu_item a {
        display:block;
        padding: 4px 6px;
    }

    .jsonsuggest_autocomplete { /*ui-autocomplete*/
        position: absolute;
    }

    .jsonsuggest_widget_content { /*ui-widget-content*/
        border: 1px solid #8FBADB;
        background: #F4F8FB;
        color: #333;
        border-top: none;
    }
    .jsonsuggest_state_hover { /*ui-state-hover*/
        margin:-1px;
        border: 1px solid #ccc;
        background-color:#C3E3F8;
        cursor: pointer;
    }


/* Employer Landing Page Forms */
.user-signup-wrapper {
    background: @primary_color;
    color: #fff;
    overflow: hidden;
    position: relative;
}
.user-signup-form {
    background: @primary_color;
    width: 65%;
    padding: 30px;
    float: right;
}

.user-signup-title {
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    @media(max-width: @screen-xs-max){ font-size: 16px; }
}

.user-signup-field {
    font-size: 14px;
    margin-bottom: 14px;
    clear: both;
}

.user-signup-field input[type=text],
 .user-signup-field input[type=password],
  .user-signup-field input[type=email],
   .user-signup-field select {
    min-height: 28px;
    line-height: 28px;
    width: 100%;
}

.user-signup-field-highlight {
    background: #0062ad;
    padding: 4px 2px;
}

.user-signup-image {
    background: transparent url(../images/banner_handshake.jpg) center center no-repeat;
    background-size: 100% auto;
    width: 35%;
    height: 100%;
    position: absolute;
    left: 0;
    @media(max-width: 1030px){ background-size: auto 100%; }
}

.user-signup-form.thin {
    width: 41%;
    @media(max-width: 768px){ width: 100%; }
}
.user-signup-image.wide {
    background: transparent url(../images/banner_employer.jpg) center center no-repeat;
    background-size: 100%;
    width: 58%;
    height: 100%;
    position: absolute;
    left: 0;
    @media(max-width: 1030px){ background-size: auto 100%; }
}
.user-signup-image.featured { background-image: url(../images/banner_featured.jpg); }
.user-signup-image.candidate { background-image: url(../images/banner_cand.jpg); }
.user-signup-image.lmia {
    background-image: url(../images/banner_lmia.jpg);
}
.user-signup-image.jobseeker {
    background-size: auto 100%;
}

a.user-signup-forgot {
    color: #fff;
    font-size: 12px;
    margin-top: 5px;
}
a.user-signup-link { color: #b3d4fc; }

/* Specific text placement inside the featured image */
.user-signup-image-content {
    color: #282828;
    position: absolute;
    top: 260px;
    width: 100%;
}

.jobseeker .user-signup-image-content {
    top: 340px;
}
.candidate .user-signup-image-content {
    top: 400px;
    width: 84%;
}
.user-signup-image-subtitle {
    font-size: 16px;
    margin: 0 auto;
    width: 300px;
}
.jobseeker .user-signup-image-subtitle { width: 340px; }
.user-signup-image-title {
    color: #005a9f;
    font-size: 34px;
    font-weight: normal;
}
.user-signup-image-pop { font-size: 40px; }

.user-signup-wide-title {
    font-size: 16px;
    margin: 0 auto;
    width: 300px;
}

.user-signup-wide-title h1 {
    color: #005a9f;
    font-size: 34px;
    font-weight: normal;
}

.lmia-title1 { font-size: 27px; }
.lmia-title2 { font-size: 40px; }
.feat-title1 {
    color: #0074e0;
    font-size: 25px;
}
.feat-title2 {
    color: #0074e0;
    font-size: 45px;
}

.jobseeker-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}
.jobseeker-subtitle {
    font-size: 24px;
}


/* Select2 plugin overrides */

body .select2-container{
    display:block;
}

body .select2-container .select2-choice abbr{
    top:5px;
}

body .select2-container-multi .select2-choices { min-height: 32px !important;}

body .select2-container-multi .select2-choices .select2-search-field input{
    height:auto;
    padding:2px 5px;
}

body .select2-container-multi .select2-choices .select2-search-choice {
    margin:1px 5px 1px 2px;
    padding:5px 5px 4px 18px;
    background-image:none;
    background: #D6ECFA;
    line-height:1.1em;
}

body .select2-container-multi .select2-search-choice-close{
    top:7px;
}

body .select2-container-multi .select2-choices {
    padding-bottom:0px;
    padding-top:0px;
    background-image:none;
    border-color:#c5c5c5;
}

body .select2-container .select2-choice{
    border-radius:0;
    height:32px;
    line-height:31px;
    background-image:none;
    padding-right:20px;
}

body .select2-container .select2-choice div{
    border-radius:0;
}

body .select2-results .select2-no-results, body .select2-results .select2-searching, body .select2-results .select2-selection-limit{
    padding:5px;
    background:#0082e3;
    text-align:center;
    color:#fff;
}

.range-dropdown .select2-search, .freshness-dropdown .select2-search {
    display:none;
}


.popup-trigger {
    cursor: pointer;
}

.list-popup {
    background: @primary_color;
    bottom: -45px;
    display: none;
    padding: 10px 0;
    position: absolute;
    right: 7px;
    width: 200px;
    z-index: 1000;
    @media(max-width: @screen-xs-max){
        left: 0;
        right: 0;
        width: 100%;
    }
}
.list-popup-triangle {
    border-bottom: 10px solid @primary_color;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    position: absolute;
    right: 10px;
    top: -5px;
    width: 0;
    @media(max-width: @screen-xs-max){
        left: 48%;
        right: auto;
    }
}
.list-popup-item {
    display: inline-block;
    margin-right: 10px;
}
.list-popup a { color: #ffffff; }
.list-popup a:hover { color: #4db3ff; }


/* Footer Styles */

.footer {
    display: block;
    padding-top: .5em;
    margin: 0px auto;
}

.footer-navigation, .footer-navigation a {
    color: #666666; text-decoration: none;
}

.footer-quicklinks {
    margin: 6px 0;
    padding: 5px 0;
    color:#0067B1;
    font-size: 0.8em;
}
.footer-quicklinks a {
    color:#0067B1;
    text-decoration: none;
}

.footer-cols {
    padding: 15px 0;
}

/* Rss Feed Listing Styles */


.rssfeed-icon {
    float: right;
    padding-left: 10px;
    white-space: nowrap;
}
.rssfeed-icon .social-media-item { vertical-align: middle; }

.flex-slim{
    width:75%;
    margin-left:auto;
    margin-right:auto;
    @media(max-width:949px){
        width: 100%;
    }
}

.user-container-divide {
    background: transparent url(../images/divide.jpg) 0 0 repeat-x;
    height: 19px;
    width: 100%;
}

.flex-divide {
    width: 100%;
    margin: 40px 0;
    border-top: 2px solid #eeeeee;
}



.user-container {
    padding: 30px;
    @media(max-width: @screen-xs-max){
        padding: 10px;
    }
}



/* Icon Classes */

.icon-help {
    vertical-align:top;
    width:17px;
    height:17px;
    display:inline-block;
    background:url(../images/icon_mini_help.png) no-repeat;
    background-color:#7B9CD1;
    cursor:pointer;
    border-radius:6px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
}

.icon-help:hover {
    background-color:#96BDFD;
}

/* Tooltip adjustments */
.tooltip-inner {
    background: #ffffff;
    border: 3px solid @primary_color;
    border-radius: 0;
    color: #000;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: @primary_color;
}


.row { margin-left: 0; margin-right: 0; }

/* Multi-page "Action" Tabs */

.action-tab {
    background: #f2f2f2;
    border: 1px solid #d3d3d3;
    color: #919191;
    cursor: pointer;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    margin: 0 0 0 2px;
    @media(max-width:600px){
        height: 34px;
        line-height: 34px;
    }
}
.action-tab a, .action-tab a:link, .action-tab a:visited {
    color: #919191;
    display: block;
    height: 100%;
    padding: 0 20px;
    width: 100%;
    @media(max-width:600px){
        font-size: 11px;
        padding: 0 6px;
    }
}

.action-tab.disabled, .action_tab.disabled {
    background: #ffffff;
    border-bottom: 3px solid @action_color;
    cursor: default;
    padding: 0 20px;
    @media(max-width:600px){
        font-size: 11px;
        padding: 0 6px;
    }
}

/* Pricing Boxes */
.pricing-box {
    background: #ffffff;
    border: 1px solid #dcdcdc;
    color: #a6a6a6;
    font-size: 16px;
    padding: 20px 1%;
    height: 130px;
}
.pricing-highlight {
    background: #0069b9;
    background: -moz-linear-gradient(top,  #0069b9 0%, #005290 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0069b9), color-stop(100%,#005290));
    background: -webkit-linear-gradient(top,  #0069b9 0%,#005290 100%);
    background: -o-linear-gradient(top,  #0069b9 0%,#005290 100%);
    background: -ms-linear-gradient(top,  #0069b9 0%,#005290 100%);
    background: linear-gradient(to bottom,  #0069b9 0%,#005290 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0069b9', endColorstr='#005290',GradientType=0 );
    border: 1px solid #0069b9;
    color: #ffffff;
}
.pricing-box-pop {
    font-size: 30px;
    font-weight: bold;
}

/* Homepage Blogfeed */

.blogfeed-header {
    position: relative;
    background: #005da3;
    height: 47px;
    line-height: 47px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}

.blogfeed-header a { color: #ffffff; }

.blogfeed-header-arrow {
    position: absolute;
    bottom: -20px;
    right: 20px;
    width: 0;
    height: 0;
    border-top: 20px solid #005da3;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #005da3;
}

.blogfeed-item-wrapper {
    border-bottom: 2px solid #eeeeee;
    padding: 25px 0;
}

.blogfeed-title{
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
}
.blogfeed-image {
    max-height: 100px;
    margin-right: 15px;
    vertical-align: top;
    width: 100px;
}

.blogfeed-image img{
    width:100%;
}

.blogfeed-excerpt {
    font-size: 14px;
    color: #a6a6a6;
}

.blogfeed-readmore {
    white-space:nowrap;
}

#intercom-container .intercom-launcher-button {
    background-color: #005ca2 !important;
}
#intercom-container .intercom-sheet-header { background-color: #005ca2 !important; }
#intercom-container .intercom-sheet-header-minimize-button, #intercom-container .intercom-sheet-header-conversations-button, #intercom-container .intercom-sheet-header-close-button {
    background-color: #ffffff;
    padding: 0 10px;
    margin: 0 !important;
}
#intercom-container .intercom-sheet-header-close-button { border-left: 1px solid #f1f1f1; }
#intercom-container .intercom-sheet-header-title, #intercom-container .intercom-sheet-header-show-generic .intercom-sheet-header-generic-title { color: #ffffff !important; }
#intercom-container .intercom-conversations-new-conversation-button {
    background: #00a936 !important;
    background: linear-gradient(to bottom,#1AB54B,#00a936) !important;
    border: 1px solid #01832A !important;
}

/* Sidebar Feature */
.sidefeature-wrapper {
  background-color: @primary_color;
  color: #ffffff;
  padding: 15px;
}
.sidefeature-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.sidefeature-subtlelink {
  color: #ffffff;
  padding-right: 40px;
}
.sidefeature-highlightlink {
  color: #b3d4fc;
  padding-right: 40px;
}
.sidefeature-relatedjobs {
  font-size: 14px;
}
.sidefeature-jobitem {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #0079b8;
  position: relative;
}
.sidefeature-jobitem .job-info-desc {
  color: #ffffff;
}
.sidefeature-close {
  position: absolute;
  top: 2px;
  right: 2px;
  display: none;
  cursor: pointer;
}
.sidefeature-jobitem:hover .sidefeature-close {
  display: block;
}

/* REWRITE EVERYTHING AFTER THIS */

.flex_cube_bg {
    background-color:#f3f3f3;
}

.application-wrapper {
    @media (max-width: 600px) {
        padding: 0;
    }
}


/* Responsive-Only classes */

@media(max-width: 960px){
    .hidden-tablet { display: none; }
}

@media (max-width: 949px) {
    img {
        max-width: 100%; /* Responsive Images */
    }
}

@media(max-width: 469px){

    .col-xxs-12 { width: 100%; }

    .xxs-p0 { padding: 0; }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
