@import "../bootstrap-3.3.4/less/bootstrap.less";
@import "_bootstrap_submenu.less";
@import "_common.less";

@primary_color: #006fba;
@action_color: #006fba;
@action_hover_color: #379f1f;
@action_secondary: #43b02a;


/* Forms */

.form-data input[type=text], .form-data input[type=password], .form-data input[type=email], .form-data select {
    border: 1px solid #BBBBBB;
    min-height: 32px;
    line-height: 32px;
    padding: 0 0 0 5px;
    width: 100%;
}
.form-data textarea {
    width: 100%;
    padding: 10px;
}